body{
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}

.main-section{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
}

/* right section styles */

.about-me-profession{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; 
    color: black;
    margin-top: 100px;
}

#personName{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 30px;
}


.about-me-section{
    width: 400px;
}

.about-me-section p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects-item a{
    color: #595959;
}

.work-experience-section{
    margin-top: 50px;
}

.work-experience-position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.work-experience-company{
    color: #FB6D3A;
}

.work-experience-period{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.work-experience-period span{
    color: #000
}

.work-experience-duties{
    padding-left: 18px;
}

.work-experience-duties li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.education-section span{
    color: #000;
}

.education-place{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.education-profile{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.education-period{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.projects-section{
    margin-top: 40px 0 0 0;
}

.projects-section ol{
    padding-left: 20px;
}

.projects-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #595959;
    margin-left: 10px;
}

ol li, .bracket{
    color: #000;
    font-weight: 700;
}

.block-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.right-section{
    padding-left: 90px;
    padding-right: 220px;
    background-color: #fff;
}

/* sidebar styles */

.sidebar-section{
    background-color: #1E2939;
    width: 370px;
}

.sidebar-section img{
    margin-top: 40px;
}

.sidebar-title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #fff
}

.contacts-section, .tech-skills-section, .soft-skills-section{
    margin-left: 40px;
}

.contacts-section-type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.contacts-section-value{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3A4352;
}

.sidebar-list{
    color: #FB6D3A;
    padding-left: 20px;
}

.sidebar-list span{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
